---
const {
  label,
  name,
  required = false,
  value,
  min,
  max,
  class: className,
  useDefaultEditableBinding: _useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;

const fieldId = htmlAttributes.id || `date-${crypto.randomUUID()}`;
---

<div class:list={["date", className]}>
  {
    label && (
      <label
        for={fieldId}
        class="label"
      >
        {label}
        {required && (
          <span
            class="date-required"
            aria-label="required"
          >
            *
          </span>
        )}
      </label>
    )
  }
  <input
    type="date"
    name={name}
    id={fieldId}
    required={required}
    aria-required={required}
    value={value}
    min={min}
    max={max}
    class="field"
    {...htmlAttributes}
  />
</div>

<style>
  @layer components {
    .date {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
      margin: 0;
      margin-bottom: var(--spacing-md);
      width: 100%;

      .date-required {
        color: var(--color-error);
        margin-inline-end: var(--spacing-em-xs);
      }
    }
  }
</style>
