---
import ComponentProperties from "@component-docs/components/ComponentProperties/index.astro";
import ComponentSlots from "@component-docs/components/ComponentSlots/index.astro";
import ComponentViewer from "@component-docs/components/ComponentViewer/index.astro";
import LibraryLayout from "@component-docs/layouts/LibraryLayout.astro";
import MarkdownIt from "markdown-it";

const { frontmatter, configData, examples = [], componentKey = "" } = Astro.props;
const meta = {
  description: configData?.description || "No description available",
  title: configData?.label || frontmatter.title,
};

const md = new MarkdownIt({ html: true });
const overviewHtml = frontmatter.overview ? md.render(frontmatter.overview) : null;

const primaryExample = examples.find(
  (example: any) => example && example.id && example.id.includes("/primary")
);

const frontmatterExamples = frontmatter.examples || [];

const processedExamples = frontmatterExamples.map((exampleConfig: any) => {
  const matchingExamples = examples.filter((example: any) =>
    exampleConfig.slugs.some(
      (slug: string) => example && example.id && example.id.endsWith(`/${slug}`)
    )
  );

  const sortedExamples = matchingExamples.sort((a: any, b: any) => {
    const aSlug = a.id.split("/").pop();
    const bSlug = b.id.split("/").pop();
    const aIndex = exampleConfig.slugs.indexOf(aSlug);
    const bIndex = exampleConfig.slugs.indexOf(bSlug);

    return aIndex - bIndex;
  });

  return {
    title: exampleConfig.title,
    examples: sortedExamples,
    size: exampleConfig.size,
  };
});
---

<LibraryLayout frontmatter={frontmatter}>
  <h1>{frontmatter.title}</h1>
  <p>{meta.description}</p>

  {
    primaryExample && (
      <ComponentViewer
        component_examples={[primaryExample]}
        title={meta.title}
        componentKey={componentKey}
      />
    )
  }

  {
    overviewHtml && (
      <>
        <h2>Overview</h2>
        <div set:html={overviewHtml} />
      </>
    )
  }

  <h2>Properties</h2>
  <ComponentProperties configData={configData} />

  {
    frontmatter.slots && (
      <>
        <h2>Slots</h2>
        <ComponentSlots slotData={frontmatter.slots} />
      </>
    )
  }
  {processedExamples.length > 0 && <h2>Examples</h2>}

  {
    processedExamples.map((exampleGroup: any) => (
      <>
        <h3>{exampleGroup.title}</h3>
        {exampleGroup.examples.length > 0 && (
          <ComponentViewer
            component_examples={exampleGroup.examples}
            title={exampleGroup.title}
            size={exampleGroup.size}
            componentKey={componentKey}
          />
        )}
      </>
    ))
  }

  <slot />
</LibraryLayout>
